.reg {
display: flex;
flex-direction: column;
align-items: center;
padding-top: 30px;
flex: 1 0 auto;
}

.regnon {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
}

button, .test1 {
    background-color: #1b1a1a;
    color: white;
    height: 30px;
    border-radius: 5px;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

button:disabled {
    background-color: rgb(233, 211, 211);
    cursor: auto;
}

button:hover {
    background-color: 	rgb(137, 6, 245);
}

.test {
background-color: rgb(255, 5, 5);
border: none;
}




.test2 {
    display: none;
}

.sucsess {
    background-color: blue;
    display: none;
}

.regSucsess {
    padding-top: 30px;
    flex: 1 0 auto;
}