.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    flex: 1 0 auto;
}

form {
    width: 350px;
    text-align: center;
    display: flex;
}
.loginSucsess {
    padding-top: 30px;
    flex: 1 0 auto;
}