* {
  margin: 0;
  padding: 0;
}

 body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;                                                                                                                           
    background: -webkit-linear-gradient(143deg, #fff700,#cbc14d,#000000);                     
    background: linear-gradient(143deg, #fff700,#867f33,#000000);                                    
 }

 #root {
  height: 100%;
 }

.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.App-header {
  background-color: #1b1a1a;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(10px + 2vmin);
}

.App-footer {
  background-color: #1b1a1a;
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

